body {background-color: white;
  align: center;
}

.map { 
  border-style: solid;
  background-image: url("https://trbaker.github.io/markers/map.jpeg");
  background-repeat: no-repeat; 
  z-index: -1;
  margin: 10px 10px;
}
.marker {
  position: absolute;
  z-index: 3;
}

/* The popup form - hidden by default */
.popup {
  display: none;
  position: absolute;
  border: solid;
  border-color: lightgray;
  background-color: white;
  z-index: 2;
  box-shadow: 3px 3px 5px gray;
}

